{% assign article = include.data %} 


{% if include.level == 1 %} 
	{% assign className = "article" %} 
	{% assign wrapper = "article" %}
{% else %} 
	{% assign className = "article-section" %} 
	{% assign wrapper = "section" %}
{% endif %} 
 
{% include add-class-name.html %} 


<{{ wrapper }} class= "{{ className }}">  
	
	{% include heading.html 
		level = include.level 
		text = article.heading.text 
	%} 

	{% if article.text %}
		{% include text.html data = article.text %} 
	{% endif %} 

	{% if article.image %} 
		{% include image.html data = article.image %} 
	{% endif %}

	{% if article.sections %} 
		{% for section in article.sections %} 
			{% assign level = include.level | plus: 1 %} 

			{% include article.html 
				data = section 
				level = level 
			%} 
		{% endfor %} 
	{% endif %}

</{{ wrapper }}> 