{% assign block = include.data %} 
{% assign level = include.level %}


{% capture text-content %} 
	{% if block.heading %}
		{% include heading.html 
			level = level 
			text = block.heading.text 
		%} 
	{% endif %}

	{% if block.text %}
		{% include text.html data = block.text %} 
	{% endif %}

	{% if block.link %}
		{% assign link = block.link %}
		{% include link.html className = "details-link" text = link.text target = link.target %} 
	{% endif %} 
{% endcapture %} 

{% if block.textContent %} 
	<section class= "text-content"> 
		{{ text-content }} 
	</section>
{% else %} 
	{{ text-content }} 
{% endif %}

{% if block.image %}
	{% include image.html data = block.image %} 
{% endif %}