{% assign data = include.data %} 
{% assign contacts = data.entries %} 


{% for contact in contacts %} 

	{% assign className = "" %} 
	{% if contact.className %} 
		{% assign className = " " | append: contact.className %} 
	{% endif %}

	<article class= "entry{{ className }}"> 

		{% if contact.heading %}
			{% include heading.html level = data.level data = contact.heading %} 
		{% endif %}

		{% if contact.text %}
			{% include text.html data = contact.text %} 
		{% endif %}
		
		{% include key-value-pair-list.html data = contact.entries %} 

	</article>

{% endfor %}