{% assign data = include.data %} 
{% assign fields = data.fields %} 

<form method= "POST" action= ""> 
	{% for field in fields %} 
		{% capture props %} 
			name= "{{ field.name }}"  
			required= "{{ field.required }}" 
			placeholder= "{{ field.value }}" 
		{% endcapture %} 

		<label for= "{{ field.name }}"> 
			{% case field.element %} 
				{% when "input" %} 
					<input {{ props }} type= "{{ field.type }}" /> 
				{% when "textarea" %} 
					<textarea {{ props }}></textarea> 
			{% endcase %}
		</label>
	{% endfor %} 

	<button type= "submit">{{ data.submit.text }}</button> 
</form>