{% assign data = include.data %} 
{% assign fields = data.fields %} 

<form action="post"> 
	{% for field in fields %} 
		{% capture props %} 
			name= "{{ field.name }}"  
			required= "{{ field.required }}" 
			placeholder= "{{ field.value }}" 
		{% endcapture %} 

		{% case field.element %} 
			{% when "input" %} 
				<input {{ props }} type= "{{ field.type }}" /> 
			{% when "textarea" %} 
				<textarea {{ props }}></textarea> 
		{% endcase %}
	{% endfor %} 

	<button type= "submit">{{ data.submit.text }}</button> 
</form>