{% assign data = include.data %} 
{% assign template = include.body %} 
{% assign head = data.head %} 
{% assign body = data.body %}

{% assign className = "" %} 
{% if include.className %} 
	{% assign className = " " | append: include.className %} 
{% endif %}


<section class= "section{{ className }}"> 
	
	{% if head %}
		{% include block.html level = 2 data = head %} 
	{% endif %}

	{% if body %} 
		<section class= "body"> 
			{% include {{ template }} data = body %} 
		</section>
	{% endif %}

</section> 