body {
	color: #555; 
	background-color: #EEE; 
}

/**
 * Buttons 
 */

.bx-controls-direction:before {
	background-color: var( --text-color ); 	
}

.button {
	color: var( --text-background-color );
	background-color: var( --text-color );
	border-color: transparent; 
}

/* On mouse over changes background and text colors */
.button:hover {
	color: var( --text-color );
	background-color: transparent; 
	border-color: var( --text-color );
}

