/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */

/* Direct descendant elements of header and main navigation are horizontally aligned */
.header, 
.main-nav .nav-entry-list {
	display: flex; flex-direction: row; align-items: center; 
}

/* ID and main navigation horizontal centers are aligned */
.header {    
	justify-content: space-between; 

	/* Gives header content the width of the content, when header has full width */ 
	/* max-width: none; 
	padding-left: var( --content-push-inward ); padding-right: var( --content-push-inward );  */

	/* Sizes header to match slider text box */
	box-sizing: border-box; 
	max-width: var( --max-content-width ); 
	/* border-right-width: var( --text-box-border-right ); */
	/* padding-left: var( --content-padding-left );
	/* Takes care of header background */
	background-clip: padding-box; 

	height: var( --header-height );

	/* Pulls slider under header */
	/* height: var( --header-height ); margin-bottom: calc( -1 * ( var( --header-height ) + var( --header-margin-top ) ) ); */
	/* margin-top: var( --header-margin-top );  */

	/* Pulls header in front of slider */
	position: relative; z-index: 2;  
}

/* Gives distance between ID and main navigation */
.header .id { 
	margin-right: 5rem; 
}

.site-title {
	height: 4rem; line-height: 4rem; 
	margin-bottom: 0; 
}	

/* Mobile navigation background */
.main-nav:after {
	display: none; 
	width: 100%; height: 100%; 
	position: fixed; left: 0; top: 0; z-index: 2; 
	background-color: rgba( 255, 255, 255, 1 ); 
	content: "";
}


/**
 * Navigation visibility control buttons 
 */

.open-nav-button, 
.close-nav-button {
	display: none; 
	width: var( --header-height ); height: var( --header-height ); 	
	position: relative; 
	border: none; 
}

.close-nav-button {
	position: fixed; 
}

/* Navigation link clickable sizing */
.main-nav .nav-link {
	display: block; 
	height: var( --header-height ); line-height: var( --header-height );
	padding-left: 0.85rem; padding-right: 0.85rem;
}


/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */

.site-title, .main-nav .nav-link {
	text-transform: uppercase; 
}

.site-title {
	font-size: 1.2rem; 
}

.main-nav .nav-link {
	font-size: 0.85rem; 
}


/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */

.nav-link:hover {
	color: #EEE; 
	background-color: #555; 
}

.open-nav-button, 
.close-nav-button { 
	/* color: var( --text-box-color );  */
	background-color: transparent; 
}

.open-nav-button:hover, 
.close-nav-button:hover { 
	color: var( --text-box-color ); 
	background-color: #EEE;  
}

.main-nav.open .nav-link, 
.close-nav-button:before {
	color: #EEE;
}


/* -----------------------------------------------------------------
	Media Queries
----------------------------------------------------------------- */

/* @media ( max-width: 1060px ) and ( min-width: 841px ) {
	.header { 
		flex-direction: column; align-items: flex-start; 
		margin-bottom: 2rem; 
	}

	.main-nav .nav-link {
		padding-top: 1.575rem; 
	}

	.main-nav .nav-entry:first-child .nav-link {
		padding-left: 0;  
	}
	
}

@media ( max-width: 840px ) {
	.header { 
		flex-direction: row; justify-content: space-between; align-items: center;
		margin-bottom: 0; 
	}

	.header .id {
		margin-right: 0; 
	}

	.main-nav .nav-entry-list {
		flex-direction: column; align-items: center; justify-content: center; 
		height: 0; overflow: hidden; 
		position: fixed; left: 50%; top: 50%; z-index: 3; 
		transform: translate( -50%, -50% );
	}

	.main-nav.open:after {
		display: block; 
	}

	.main-nav.open .nav-entry-list {
		width: auto; height: auto; 
	}

	.open-nav-button {
		display: block; 
	}

	.main-nav.open .close-nav-button {
		display: block; 
		top: 0; right: 0; 
		z-index: 3; 
	}

	.main-nav .nav-link:before {
		background-color: #EEE;
	}

	.main-nav .nav-link {
		padding-top: 1rem; padding-bottom: 1rem; 

	}

} */