/* Separates paragraph or paragraphs visually from headings and buttons */
.heading, 
.text:last-of-type {
	margin-bottom: 1.8rem; 
}

/* Paragraphs distance */
.text {
	margin-bottom: 1.2em;
}

/* Removes bottom margin from paragraphs, that have no adjacent elements */
.text:last-child {
	margin-bottom: 0; 
}


/* Keeps all sections up to max page width wide and centered above that viewport width, 
leaving some distance from window edges, achieving that by using transparent borders */
.header, 
.section {
	box-sizing: border-box; 
	max-width: var( --max-page-width ); margin-left: auto; margin-right: auto; 
	border-style: solid; border-color: transparent; 
	border-left-width: var( --content-padding-left ); border-right-width: var( --content-padding-right ); 
}

	/* Not full width sections */
	.header, 
	.plus-points {
		max-width: var( --max-content-width ); 
	}

	/* Full width sections, without leaving distance from window edges */
	.offer-list {
		border-left-width: 0; border-right-width: 0; 
	}

/* Sections and their body section are positioned to contain all their absolutely positioned elements */
.section, 
.section .body {
	position: relative; 	
}

/* Defines distance between sections */
.section {
	margin-bottom: 2rem; 
}

/* Usability headings are not a visual part of the page */
.usability-heading, 
.offer-list .head {
	display: none; 

}

/* Taking into account styling, semantics and SEO, an image is represented as a figure element with an image element as its descendant */
.image {
	height: 150px; 
}

figure.image {
	background-size: cover; background-position: center center; background-repeat: no-repeat; 
	background-image: none !important; background-color: #999; 
}

.image img {
	display: none !important; 
}

/* Buttons are displayed as inline-block to adapt to their label */
.button {
	display: inline-block; 
	padding: 1.25rem 1.75rem; 
	border: 1px solid;
}


/**
 * Control buttons 
 */

/* Control buttons are placed next to each other, using flexbox */
.bx-controls-direction {
	display: flex; flex-direction: row; 
	position: absolute; 
}

/* Creates the vertical separating line between the two control buttons */
.bx-controls-direction:before {
	display: block;
	width: 1px; height: 100%;
	position: absolute; left: 50%; top: 0;  
	z-index: 4; 
	content: ""; 

}

/* Control button is relatively positioned to hold the absolutely positioned :before, holding the icon */
.bx-controls-direction a {
	display: block; 
	width: 6rem; height: 5rem;	
	position: relative; 
	border: none;  
	cursor: pointer; 
}

/* The :before element is stretched all over the button and its content, the icon, is centered */
.nav-control-buttons :before, 
.bx-controls-direction :before {
	display: flex; align-items: center; justify-content: center; 
	width: 100%; height: 100%; 
	position: absolute; left: 0; top: 0; z-index: 2; 	
}

/* Button separating line and buttons are not fully opaque in their normal state */
.bx-controls-direction:before, 
.bx-controls-direction :before {
	opacity: 0.45; 
}

/* On mouse over the control button set, the separator and the targeted button become fully opaque */
.bx-controls-direction:hover:before, 
.bx-controls-direction a:hover:before {
	opacity: 1; 
}

