/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */ 

.sell-points-entry-list { 
	background-color: #CCC; 

}

.sell-points-entry {
	--padding-top: 5rem; 
}

.sell-points-entry {
	/* Giving space around the text content */
	padding-top: var( --padding-top ); padding-bottom:var( --padding-top ); 	
	position: relative; 
}

.sell-points .text-content {
	box-sizing: border-box; 

	/* Text content is centered */
	width: var( --max-content-width ); margin-left: auto; margin-right: auto; 
	
	/* When text content has a box around */ 
	padding-top: 4rem; 
	padding-bottom: 4rem; 
	padding-left: 4rem;
	padding-right: 4rem;
	/* When the box is not as wide as the content area and on the left */
	border-style: solid; border-color: transparent; 
	border-right-width: var( --text-box-border-right ); 
	border-left-width: var( --content-padding-left );  
	background-clip: padding-box; 

	position: relative; top: 0rem; 
	z-index: 1; 

	overflow: hidden;
	
	/* In centered layout, headings and text are centered */
	/* text-align: center;  */
}	

/* A background is possible to be set on the text content box itself, 
but for border around the box, an :after pseudo-element has to be created */
.sell-points .text-content:after {
	box-sizing: border-box; 
	display: block; 
	width: 100%; height: 100%; 
	position: absolute; left: 0; top: 0;
	z-index: -1; 
	/* border-style: solid; border-width: 1px;  */
	content: "";
}

.sell-points .image {
	width: 100%; height: calc( 100% - var( --padding-top ) ); 
	position: absolute; left: 0; top: 0; 
}

.sell-points .bx-controls-direction {
	bottom: 0; right: 0; 

}


/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */


/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */

.sell-points .text-content:after {
	background-color: #CCC; 
	/* border-color: var( --text-color );  */
}


/* -----------------------------------------------------------------
	Meadia Queries
----------------------------------------------------------------- */

@media ( min-width: 1280px ) {
	/* .sell-points .image {
		left: calc( 44rem - 3.5rem );
	} */
	
}

@media ( max-width: 1280px ) {
	/* .sell-points .image {
		left: calc( 100% - 44rem - 3.5rem );
	} */
	
}

@media ( max-width: 1020px ) {
	.sell-points .text-content {
		/* padding-left: 15%;  */
		background-color: rgba( 205, 230, 236, 0.85 ); 
	}

}

@media ( max-width: 840px ) {
	.sell-points {
		border-left: 0; border-right: 0; 
	}

	/* .sell-points .text-content {
		margin-left: var( --content-padding-left ); margin-right: 30%; 
		padding-left: 10%; padding-right: 10%; 
	} */

	/* .sell-points .image {
		left: 0; 
	} */

}

@media ( max-width: 640px ) {
	/* .sell-points .text-content {
		margin-left: 0;  
		padding-left: var( --content-padding-left ); padding-right: var( --content-padding-left ); 
	} */

}

@media ( max-width: 520px ) {
	/* .sell-points .text-content {
		margin-right: 0;
	} */

}

