/* -----------------------------------------------------------------
	Settings
----------------------------------------------------------------- */

.send-message { 
	--column-count: 3; 
	--column-gutter-x: 0.75rem; 
	--column-gutter-y: var( --column-gutter-x ); 
	--field-width: calc( ( 100% - ( var( --column-count ) - 1 ) * var( --column-gutter-x ) ) / var( --column-count ) ); 
	--field-height: 3.25rem; 
	--message-sent-notification-duration: 4s; 
} 


/* -----------------------------------------------------------------
	Layout
----------------------------------------------------------------- */

.write-us { 
	box-sizing: border-box; 
} 


.send-message { 
	display: flex; flex-direction: row; flex-wrap: wrap; 
	max-width: var( --max-content-width ); margin-left: auto; margin-right: auto; 
	position: relative; 
} 

.send-message .label { 
	display: block; 
} 

.send-message .label, 
.send-message .submit-button { 
	width: var( --field-width ); height: 3.25rem; 
} 

.send-message .label { 
	margin-right: var( --column-gutter-x ); margin-bottom: var( --column-gutter-y ); 
} 

.label.name { 
	order: 2; 
} 

.label.email { 
	order: 3; 
}

.send-message .field { 
	box-sizing: border-box; 
	display: block; 
	width: 100%; height: 100%;  
	padding: 0.8rem; 
	border: 1px solid rgba( 0, 0, 0, 0.2 ); outline: none; 
} 

.send-message :nth-child( -n + 2 ) { 
	margin-top: 0; 
}

.send-message .label.message { 
	order: 1; 	
	box-sizing: border-box; 
	width: 100%; height: calc( 3.5 * var( --field-height ) ); 
	margin-right: 0; margin-bottom: var( --column-gutter-y ); 
	padding-right: 0; 

}

.send-message .submit-button { 
	order: 4; 
	display: block; 
	margin-bottom: 0; 
	border: none; 
} 

.send-message .thankyou_message { 
	box-sizing: border-box; 
	display: none; align-items: center; justify-content: center; 
	width: auto; 
	left: 10%; right: 10%; top: -25%; bottom: -25%; 
	padding: 4rem; 
	position: absolute; z-index: 2; 
	border: 1.2rem solid; 
} 

.send-message .thankyou_message.display { 
	display: flex; 
}


/* -----------------------------------------------------------------
	Typography
----------------------------------------------------------------- */ 

.write-us .heading { 
	text-align: center; 
}

.send-message .field { 
	font-family: Arial; font-size: 1rem; 
} 

.send-message .thankyou_message { 
	font-family: var( --heading-font-family ); font-size: 1.4rem; line-height: 1.5; 
	text-transform: uppercase; 
	text-align: center; 
	box-shadow: 0 0 20px 1px rgba( 0, 0, 0, 0.25 ); 
} 


/* -----------------------------------------------------------------
	Color
----------------------------------------------------------------- */

.send-message .field { 
	color: rgba( 0, 0, 0, 0.2 ); 
}

.send-message .field { 
	background-color: transparent; 
} 

.send-message .submit-button { 
	background-color: rgba( 0, 0, 0, 0.05 ); 
	color: rgba( 255, 255, 255, 0.7 ); 
} 

.send-message .submit-button:hover { 
	background-color: rgba( 0, 0, 0, 0.5 ); 
} 

.send-message .thankyou_message { 
	background-color: rgba( 255, 255, 255, 0.85 ); 
} 


/* -----------------------------------------------------------------
	Keyframes
----------------------------------------------------------------- */ 

@keyframes remove { 
	0% { 
		visibility: visible; 
	}

	100% { 
		visibility: hidden; 
		width: 0; height: 0; padding: 0; border: none; overflow: hidden; 
	} 

}


/* -----------------------------------------------------------------
	User interaction
----------------------------------------------------------------- */ 

.send-message .submit-button { 
	cursor: pointer;  
} 

.send-message .thankyou_message.display.remove { 
	animation-name: remove; animation-duration: 0.005s; animation-delay: 4s; animation-fill-mode: forwards; 	

}


/* -----------------------------------------------------------------
	Media queries
----------------------------------------------------------------- */

@media ( max-width: 650px ) { 

	/* .send-message { 
		align-items: center; 
	
	}  */

	/* .send-message > * { 
		width: 100%; 
	}  */

	.send-message .message-holder { 
		height: calc( 3.5 * var( --field-height ) ); 
		padding: 0; 
		position: relative; 
	
	} 
	

} 

@media ( max-width: 580px ) { 

	.send-message { 
		--column-count: 1; 
		--column-gutter-x: 0rem; 
		--column-gutter-y: 0.4rem; 
	} 

}

