<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title> 

	<link rel= "stylesheet" type= "text/css" href= "{{ site.baseurl }}/assets/css/style.css" /> 
</head>
<body> 

	{% include header.html %} 

	<main class= "page"> 

		{{ content }} 

	</main>

	{% include footer.html %} 

	<script src= "{{ site.baseurl }}/assets/js/jquery/dist/jquery.min.js"></script> 
	<script src= "{{ site.baseurl }}/assets/plugins/bxslider/dist/jquery.bxslider.min.js"></script> 
	<script src= "{{ site.baseurl }}/assets/plugins/jquery-smooth-scroll/jquery.smooth-scroll.min.js"></script>  

	<script src= "{{ site.baseurl }}/assets/js/sell-points.js"></script> 
	<script src= "{{ site.baseurl }}/assets/js/main-nav.js"></script> 	
	<script src= "{{ site.baseurl }}/assets/js/scroll-to-top.js"></script> 
	
</body>
</html>